# Environment variables for the DHIS2 instance
DHIS2_BASE_URL=url_to_dhis2_instance
DHIS2_USERNAME=username_for_dhis2
DHIS2_PASSWORD=password_for_dhis2

# Environment variables for the Hermes Agent
HERMES_AGENT_NAME=hermes-agent
HERMES_AGENT_BASE_URL=http://localhost:8642
HERMES_AGENT_KEY=your_hermes_agent_key